.overlay {
  position: fixed;
  z-index: 999;
}

@media screen and (max-width: 768px) {
  .overlay {
    top: 0%;
    left: 2%;
    width: 100%;
  }

  .brand * {
    margin: 0;
    padding: 10px;
  }
  
  .quote {
    margin: 10px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .overlay {
    top: 0%;
    left: 5%;
    width: 80%;
  }

  .brand__name {
    width: 30%;
  }

  .brand__tag {
    width: 60%;
  }
}

@media screen and (min-width: 1025px) {
  .overlay {
    top: 10%;
    left: 25%;
    width: 50%;
  }

  .brand__name {
    width: 20%;
  }

  .brand__tag {
    width: 70%;
  }
}

.brand {
  display: flex;
  align-items: center;
}

.brand__logo {
  width: 2rem;
  height: 2rem;
  padding-right: 5%;
}

.brand__name {
  color: white;
  font-weight: 900;
}

.brand__tag {
  color: #e4ff7a
}

.quote {
  color: #fff;
  font-family: Poppins-Black;
  font-size: 300%;
  font-weight: 900;
  line-height: 0.9;
}

.description {
  font-size: 1.2rem;
  color: white;
}
