.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

	color: #fff;
  font-family: Poppins-Black;
  font-size: 400px;
  font-weight: 900;
  line-height: 0.9;
}

